{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block body %}
  <h1 class="mb-4">Mon profil</h1>
  <form method="post" class="card p-3 col-12 col-md-8 col-lg-6">
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input class="form-control" name="name" value="{{ user.name }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" name="email" type="email" value="{{ user.email }}" required>
    </div>
    <input type="hidden" name="_token" value="{{ csrf_token('profile_update') }}">
    <button class="btn btn-primary">Enregistrer</button>
    <a class="btn btn-outline-secondary ms-2" href="{{ path('app_me_password') }}">Changer le mot de passe</a>
  </form>
{% endblock %}