{% extends 'base.html.twig' %}
{% block title %}Changer le mot de passe{% endblock %}
{% block body %}
  <h1 class="mb-4">Changer le mot de passe</h1>
  <form method="post" class="card p-3 col-12 col-md-8 col-lg-6">
    <div class="mb-3">
      <label class="form-label">Mot de passe actuel</label>
      <input class="form-control" type="password" name="current_password" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Nouveau mot de passe</label>
      <input class="form-control" type="password" name="new_password" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Répéter le nouveau mot de passe</label>
      <input class="form-control" type="password" name="new_password2" required>
    </div>
    <button class="btn btn-primary">Mettre à jour</button>
  </form>
{% endblock %}