{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Panneau d'administration{% endblock %}
{% block body %}
  <h1>Panneau d'administration</h1>
  <p>Bonjour, {{ app.user.name ?? app.user.email }}</p>
{% endblock %}