{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block body %}
  <h1>Tableau de bord</h1>
  <p>Bonjour, {{ app.user.name ?? app.user.email }}</p>
{% endblock %}