{# templates/user/dashboard.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Mon Espace{% endblock %}
{% block body %}
  <h1>Mon Espace</h1>
  <p>Bonjour, {{ app.user.name ?? app.user.email }}</p>
{% endblock %}